<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404581207790-3qsjucck3sggd0v3vm4cmfdr91arejot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404581207790-3qsjucck3sggd0v3vm4cmfdr91arejot</string>
	<key>API_KEY</key>
	<string>AIzaSyAYHjKG8NHOf4xYfyaoHeyt_fk1hWJTdEk</string>
	<key>GCM_SENDER_ID</key>
	<string>404581207790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>up.Practica2y3</string>
	<key>PROJECT_ID</key>
	<string>practicaios-a3603</string>
	<key>STORAGE_BUCKET</key>
	<string>practicaios-a3603.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404581207790:ios:148505ca972c1f1ef9edff</string>
</dict>
</plist>